-r requirements/build.txt
-r requirements/optional.txt
-r requirements/runtime.txt
-r requirements/tests.txt

mmcv~=2.0.0rc4
mmdet~=3.0.0
mmrotate~=1.0.0rc1
mmengine~=0.10.5
opencv-python~=4.10.0.84
imageio~=2.35.1
typing~=3.7.4.3
requests~=2.32.3
seaborn~=0.13.2
cityscapesscripts~=2.2.4
pillow~=10.4.0
rich~=13.8.1
scikit-image~=0.21.0
shapely~=2.0.6
setuptools~=75.1.0
pyyaml~=6.0.2
pandas~=2.0.3
tqdm~=4.67.0
torchvision~=0.14.1+cu117